*{
    font-family: 'Press Start 2P'
}
body {
    background: url('../images/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 30%;
    background-position-y: 10%;
}
#greetings, .chat{
	border: solid 5px black;
	background: rgba(255, 255, 255, 0.692);
}

.formcontainter{
	justify-content: center;
}

#player-1, #player-2{
	background: rgba(255, 255, 255, 0.692);
}
#player1-name, #player2-name{
	text: 16px;
}

#rock1 {
	background: url(../images/rock1.png);
	background-size: cover;
	height: 80px;
	width:80px;
}
#rock2{
background: url(../images/rock2.png);
background-size: cover;
height: 80px;
width:80px;
}
#paper1 {
	background: url(../images/paper1.png);
	background-size: cover;
	height: 80px;
	width:80px;

}

#paper2 {
	background: url(../images/paper2.png);
	background-size: cover;
	height: 80px;
	width:80px;

}
#scissors1 {
	background: url(../images/scissors1.png);
	background-size: cover;
	height: 80px;
	width:80px;

}
#scissors2{
	background: url(../images/scissors2.png);
	background-size: cover;
	height: 80px;
	width:80px;

}